.idea/
.vscode/
**/target/
**/build/
**/.dart_tool/
**/.flutter-plugins*
**/android/local.properties
**/uploads/
**/logs/
.env
.env.local
README.local.md
google-services.json
**/firebase-service-account*.json
**/*.jks
**/*.keystore
*.iml
Thumbs.db
